body {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    line-height: 1.8;
    color: #333;
    background-color: #fafafa;
    margin: 0;
}

h1 {
    text-align: center;
    font-size: 46px;
    font-weight: 300;
    line-height: 1.2;
    margin: 35px 0 10px 0;
}

h2 {
    font-size: 36px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px;
}

b {
    font-weight: 600;
}

iframe {
    width: 50vh;
    max-width: 500px;
    height: calc(50vh / 1.778);
    max-height: calc(500px / 1.778);
    box-shadow: 0px 1px 10px 0px #000;
}

.flexbox {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.content {
    max-width: 1200px;
    margin: auto;
}

.center {
    text-align: center;
    margin: auto;
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

.align {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
}

.align > * {
    margin: 10px 30px 20px 0;
}

.stack {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.stack > * {
    margin: 10px 0 10px 0;
}

.button-link {
    font-size: 16px;
    font-weight: 500;
    color: #444;
    background-color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 0px;
    box-shadow: 0px 1px 5px 0px #888;
    transition-duration: 0.2s;

    padding: 16px 24px 16px 16px;
    display: inline-flex;
    align-items: center;
}

.button-link:hover {
    box-shadow: 0px 1px 5px 2px #888;
}

.section-dark .button-link {
    color: #fafafa;
    background-color: inherit;
    box-shadow: 0px 1px 5px 0px #000;
}

.section-dark .button-link:hover {
    box-shadow: 0px 1px 5px 2px #000;
}

.button-link img {
    width: 32px;
    margin-right: 16px;
}

.section {
    padding: 20px 5% 50px 5%;
}

.section > .flexbox > div {
    margin: 0 30px;
}

.section-dark {
    background-color: #444;
    color: #fafafa;
}

.section-darker {
    background-color: #f5f5f5;
}

.card {
    display: block;
    padding: 0px 10px 20px 10px;
    margin: 15px;
    background-color: #fff;
    box-shadow: 0px 1px 5px 0px #888;
    border-radius: 0px;
    text-decoration: none;
    transition-duration: 0.2s;
}

.card:hover {
    box-shadow: 0px 1px 5px 2px #888;
}

.card img {
    width: 180px;
    min-width: 11vw;
    padding: 15%;
    box-sizing: border-box;
}

.card h3 {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    color: #444;
    margin: 0;
}

.dev-project {
    width: 300px;
    margin: 15px;
    background-color: #fff;
    box-shadow: 0px 1px 5px 0px #888;
}

.dev-project > * {
    margin: 15px 20px 15px 20px;
}

.dev-project > img {
    width: 100%;
    margin: 0;
}

.dev-project h3 {
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
}

.dev-project p {
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
}

.menu {
    display: flex;
    align-items: right;
    flex-direction: column;
}

.menu-row {
    display: flex;
}

.social-icons {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.social-icons img {
    width: 36px;
    height: 36px;
    margin: 18px 9px 0px 9px;
}

.profile-image {
    display: block;
    width: 350px;
    min-width: 22vw;
    margin: auto;
    border: 5px solid #eee;
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: 0px 0px 15px 0px #888;
}

#start {
    min-height: 100vh;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

#start > div {
    box-sizing: border-box;
    padding: 0 30px;
}

#photos-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 14vw);
    grid-gap: 20px;
    margin: 0 15px 40px 15px;
}

#photos-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0px 0px 10px 0px #000;
    cursor: pointer;
    transition-duration: 0.1s;
}

#photos-grid img:hover {
    box-shadow: 0px 0px 10px 3px #000;
}

#photos-grid .grid-row-2 {
    grid-row: span 2;
}

#dim {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
    transition-duration: 0.2s;
}

#photo-fullscreen {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 100%;
    padding: 6vh 0;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    z-index: 2;
}

#photo-fullscreen img {
    display: block;
    margin: auto;
    height: 100%;
}

#photo-fullscreen #closePhotoButton {
    position: absolute;
    top: 8vh;
    right: 2vh;
    width: 30px;
    height: 30px;
    opacity: 0;
    cursor: pointer;
    transition-duration: 0.2s;
}

#photo-fullscreen:hover #closePhotoButton {
    opacity: 0.8;
}

#top-button {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 22px;
    height: 22px;
    margin: 25px;
    padding: 20px;
    background-color: #555;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 0px #000;
    transition-duration: 0.2s;
}

#top-button:hover {
    box-shadow: 0px 0px 10px 2px #000;
}

#top-button img {
    width: 100%;
}
